*.pyc
*.map
*.dblite
*.elf
*.bin
*.hex
*.axf
*.exe
*.pdb
*.idb
*.ilk
build
*~
*.o
*.bak
*.dep
*.lib
*.a

edit
project_Uv2.Bak
project_Uv2.Bak
/bsp/stm32f10x/project_Uv2.Bak
project.eww
/bsp/stm32f10x/project.ewp
/bsp/stm32f10x/JLinkLog.txt
/bsp/stm32f10x/project.uvopt
/bsp/stm32f10x/project.uvproj
/bsp/stm32f10x/project.uvgui.lenovo
project.uvgui.Administrator
